<!-- 
  ///////////////////// FORM ////////////////
  
  <div class="container-fluid">
  <h1 class="col-12">Material</h1>
  <div class="row">
    <h3 class="col-12">Formulaire :</h3>
    <form [formGroup]="form" class="col-6 mx-auto">
      <br />
      <br />

      <mat-form-field>
        <mat-placeholder>Email</mat-placeholder>
        <input matInput type="text" formControlName="email" />
        <mat-hint align="end">{{ form.get("email").value.length }}/10</mat-hint>
        <mat-error *ngIf="form.get('email').invalid">{{
          getError()
        }}</mat-error>
      </mat-form-field>
      <br /><br />


      <mat-checkbox formControlName="checkbox">Vrai/Faux</mat-checkbox><br />
      <br />

      <mat-radio-group formControlName="radio">
        <mat-radio-button value="Femme">Femme</mat-radio-button>
        <mat-radio-button value="Homme">Homme</mat-radio-button>
      </mat-radio-group>
      <br /><br />

      <input type="radio" formControlName="slidetoggle" />Femme <br />
      <input type="radio" formControlName="slidetoggle" />Homme <br /><br />

      <mat-slide-toggle formControlName="slidetoggle">
        Newsletter ?
      </mat-slide-toggle>
      <br /><br />


      <mat-form-field>
        <mat-select formControlName="select" placeholder="food">
          <mat-option value="pain">Pain</mat-option>
          <mat-option value="pate">Pate</mat-option>
          <mat-option value="pizza">Pizza</mat-option>
        </mat-select>
      </mat-form-field>
      <br /><br />


      <mat-slider min="0" max="10" formControlName="range"></mat-slider>
      <br /><br />


      <mat-form-field>
        <input
          matInput
          placeholder="Choisir une date"
          [matDatepicker]="picker"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <br /><br />

      <mat-form-field>
        <input
          matInput
          formControlName="auto"
          [matAutocomplete]="autoc"
          placeholder="choisir un nombre"
          type="text"
        />
      </mat-form-field>
      <br /><br />

      <mat-autocomplete #autoc="matAutocomplete">
        <mat-option
          *ngFor="let option of filterOptions | async"
          [value]="option"
        >
          {{ option }}
        </mat-option>
      </mat-autocomplete>

      <pre>{{ form.value | json }}</pre>
    </form>
  </div>
</div> 

///////////////////////////////////////////////////
-->
<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <button mat-button>dans nav</button>
  </mat-sidenav>

  <div class="container-fluid">
    <h1 class="col-12">Material</h1>
    <div class="row">
      <h3 class="col-12">NAVIGATION :</h3>
      <div class="col-6 mx-auto">
        <button mat-button>hello</button> <br /><br />
        <button mat-raised-button color="warn" (click)="sidenav.open()">
          primary
        </button>
        <button mat-raised-button color="primary" [MatMenuTriggerFor]="menu">
          primary
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item [MatMenuTriggerFor]="menu2">1</button>
          <button mat-menu-item>2</button>
          <button mat-menu-item>3</button> </mat-menu
        ><br /><br />

        <mat-menu #menu2="matMenu">
          <button mat-menu-item>4</button>
          <button mat-menu-item>5</button>
          <button mat-menu-item>6</button> </mat-menu
        ><br /><br />

        <!-- <button mat-raised-button color="accent">accent</button> <br /><br />
      <button mat-raised-button color="warn">warn</button> <br /><br />
      <button mat-raised-button disabled>disabled</button> <br /><br />
      <button mat-fab>hello3</button> <br /><br />
      <button mat-mini-fab>hello4</button> <br /><br /> -->
      </div>
    </div>
  </div>
</mat-sidenav-container>
